* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 100vh;
}

.file-path {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  overflow-wrap: anywhere;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.output>* {
  margin: 1rem;
}

.output-buttons {
  display: flex;
  gap: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

header {
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

header>img {
  width: 150px;
  height: 150px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.progress {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.progress-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  text-align: center;
  color: white;
}

.progress-bar>p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #242424;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-bar>progress {
  height: 2rem;
  width: 100%;
  border-radius: 0;

}

.progress-bar>progress::-webkit-progress-value {
  background-color: #3dff67;
}

/* Close button in the corner of the modal */
.close-button {
  background-color: #dd3838;
}