.video-preview {
  width: 95vw;
}

.video-preview video {
  object-fit: contain;
  width: 80%;

  height: 100%;
  aspect-ratio: 16/9;
  margin: auto;
}

.video-preview__volume-slider {
  width: 145px;
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translate(-50%, -70%);
  display: flex;
  align-items: center;
}

.video-preview__volume-button {
  align-self: flex-start;
  justify-self: flex-start;
  width: 30px;
  height: 30px;
  margin: 0 8px;
  cursor: pointer;
}

.video-preview__volume-button:hover {
  background-color: #1d1d1d;
}

.video-preview__volume-slider__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
}

.video-preview__volume-slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 5px;
  height: 15px;
  background: #fff;
  cursor: pointer;
}

.controls-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.controls-wrapper button {
  background-color: #1d1d1d;
  color: #fff;
  cursor: pointer;
  width: 65px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}