.video-preview {
  width: 95vw;
}

.video-preview video {
  object-fit: contain;
  width: 80%;

  height: 100%;
  aspect-ratio: 16/9;
  margin: auto;
}

.controls-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.timeline {
  width: 100%;
  position: relative;
  background-color: #444;
}

.video-preview__time {
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  padding: .5em;
  pointer-events: none;

  user-select: none;
}

.current-time {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 5px;
  background-color: red;
  z-index: 2;
  pointer-events: none;

  user-select: none;
}